[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/redgood"]
	path = themes/redgood
	url = https://github.com/urjaacharya/redgood.git
